.button-add-videos {
    min-width: 180px;
    margin-top: 5px;
}
.button-trash-videos {
    margin-top: 5px;
}
.button-list-videos {
	min-width: 85px;
    margin-top: 5px;
}

/*descrição video*/

td.description-videos {
    text-align: justify;
}